

header {
    height: 4vh;
    background-color: yellowgreen;
}

/*  MAIN */

body {
    margin: 0;
}

/* BACK */


    /* FRONT */
footer {
    background-color: darkblue;

    height: 4vh;

    margin-top: 92vh;

}