:root {

    background-color: #8D99AE;
    font-family: Arial, sans-serif;
    color: white;

    --main: 91.5vh;
    --borRadBut: 4px;
    --borRad: 10px;
    --margen: 0.8vh;
    --posBack: 0vw;
    --midBack: 44vw
}

header {
    height: 4vh;
    background-color: yellowgreen;
}

/*  MAIN */

body {
    margin: 0;
}

/* BACK */

.backSlide {
    z-index: 1;

    display: flex;
    justify-content: flex-end;

    position: fixed;

    transform: translateX(calc(var(--posBack) + var(--midBack) + 20vw));
    transition: transform 0.2s ease-in-out;
}

.backMain {
    z-index: 1;

    background-color: #272932;

    display: flex;
    justify-content: end;

    height: var(--main);
    width: 103vw;

    margin-right: 0;
    padding-top: 0;

    border: solid black;
    border-radius: var(--borRad);
}

.backBtn {
    z-index: 2;

    background-color: #272932;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.4vw;

    border: solid rgb(26, 26, 26);
    border-radius: 10px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;

}

#backToggle {
    display: none;
}

.backSlide:has(#backToggle:checked) {
    transform: translateX(calc(var(--posBack) + var(--midBack)));

}

    /* MID */

#midToggle {
    display: none;
}

.midSlide {
    z-index: 2;

    display: flex;
    justify-content: flex-end;

    position: fixed;

    transform: translateX(67vw);
    transition: transform 0.2s ease-in-out;
}

.midMain {
    z-index: 1;

    background-color: #798086;

    display: flex;
    justify-content: end;

    height: calc(var(--main) - 2vh);
    width: 60vw;

    margin: var(--margen);
    margin-right: 0;
    margin-left: 0;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

}

.midBtn {
    z-index: 2;

    background-color: #798086;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.4vw;

    border: solid rgb(26, 26, 26);
    border-radius: 10px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: 0;


}

.midSlide:has(#midToggle:checked) {
    transform: translateX(47vw);

}

body:has(#midToggle:checked) .backSlide {
    --midBack: 0vw;
}

body:has(#midToggle:checked) {
    --posBack: 24vw;
}

body:has(#midToggle:not(checked)) {
    --posBack: 0vw;
}

    /* FRONT */

.div3 {
    z-index: 3;

    background-color: #272932;

    display: flex;
    align-content: end;

    height: calc(var(--main) - 4vh);
    width: 30vw;

    margin: calc(var(--margen) + 1vh);
    margin-right: 0;
    margin-left: 1vw;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

    position: fixed;
    right: -3vh;

    overflow: hidden;
}

    /*TABLE STYLES*/

.PowRank{
    margin: 3vh;
    height: 80vh;

}
.tableHead{
    height: 3em;
    background-color: #1c1e24;
    border-right: rgb(99, 99, 99) solid 1px;
    border-bottom: rgb(99, 99, 99) solid 2px;
    color: white;
}
.icon{
    background-color: rgb(46, 46, 46);
    height: 3.5em;
    width: 5em; 
    padding: 0;
    border-bottom: rgb(99, 99, 99) solid 2px;
    border-right: rgb(99, 99, 99) solid 1px;;
}
.text{
    display: flex;
    justify-content: space-around;
    background-color: rgb(24, 24, 24);
    height: 7vh;  
    width: 25em; 
    border-bottom: rgb(99, 99, 99) solid 2px;
}
table{
    border-spacing:0 1px;
    border-collapse: separate;
    border-radius: 5px;
    border: rgb(99, 99, 99) solid 2px;
    border-collapse:inherit;
}
table tr:last-child td{
    border-bottom: none;
}

.icon img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}




/* FOOTER */

footer {
    background-color: darkblue;

    height: 4vh;

    margin-top: 92vh;

}