:root {
    --main: 91.5vh;
    --borRadBut: 4px;
    --borRad: 10px;
    --margen: 0.8vh;
    --posBack: -60vw;
    --posActualBack: -40vw;
    --posMid: -30vw;
}

header {
    height: 4vh;
    background-color: yellowgreen;
}

body {
    margin: 0;
}

/* BACK */

.backSlide {
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: fixed;

    right: var(--posActualBack);

}

.backMain {
    z-index: 1;

    background-color: blue;

    display: flex;
    justify-content: end;

    height: var(--main);
    width: 103vw;

    margin-right: 0;
    padding-top: 0;

    border: solid black;
    border-radius: var(--borRad);
}

.backBtn {
    z-index: 2;

    background-color: blue;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;

}

#backToggle {
    display: none;
}

.backSlide:has(#backToggle:checked) {

    animation: backIda;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    background-color: black;
}

.backSlide:has(#backToggle:not(:checked)) {

    animation: backVuelta;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

/* ANIMACIONES */

/* IDA */

@keyframes backIda {
    0% {
        transform: translateX(30vw);
    }

    100% {
        transform: translateX(0vw);
    }
}

/* VUELTA */

@keyframes backVuelta {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(30vw);
    }
}

/* MID */


#midToggle {
    display: none;
}

.midSlide {
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position: fixed;
    right: var(--posMid);


}

.midMain {
    z-index: 1;

    background-color: green;

    display: flex;
    justify-content: end;

    height: calc(var(--main) - 2vh);
    width: 60vw;

    margin: var(--margen);
    margin-right: 0;
    margin-left: 0;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;



}

.midBtn {
    z-index: 2;

    background-color: green;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;


}

.midSlide:has(#midToggle:checked){

    animation: midIda;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
body:has(#midToggle:checked) .backSlide{

    animation: backIda;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
.midSlide:has(#midToggle:not(checked)) {

    animation: midVuelta;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
body:has(#midToggle:not(checked)) .backSlide{

    animation: backVuelta;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}


@keyframes midIda {
    0% {
        right: var(--posMid);
    }

    100% {
        right: calc(var(--posMid) + 30vw);
    }
}

/* VUELTA */

@keyframes midVuelta {
    0% {
        right: calc(var(--posMid) + 30vw);
    }

    100% {
        right: var(--posMid);
    }
}


.div3 {
    z-index: 3;

    background-color: red;

    display: flex;
    align-content: end;

    height: calc(var(--main) - 4vh);
    width: 30vw;

    margin: calc(var(--margen) + 1vh);
    margin-right: 0;
    margin-left: 1vw;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

    position: fixed;
    right: -3vh;

    overflow: hidden;
}

footer {
    background-color: darkblue;

    height: 4vh;

    margin-top: 92vh;

}