

header {
    height: 4vh;
    background-color: rgb(49, 49, 49);
}

/*  MAIN */

body {
    margin: 0;
}

/* BACK */


    /* FRONT */
footer {
   background-color: rgb(49, 49, 49);
    height: 4vh;
}