:root {
    --main: 91.5vh;
    --borRadBut: 4px;
    --borRad: 10px;
    --margen: 0.8vh;
    --posBack: 0vw;
    --midBack: 44vw

}

header {
    height: 4vh;
    background-color: yellowgreen;
}

body {  
    margin: 0;
}

/* BACK */

.backSlide {
    z-index: 1;

    display: flex;
    justify-content: flex-end;

    position: fixed;
    
    transform: translateX(calc(var(--posBack) + var(--midBack) + 20vw));
    transition: transform 0.2s ease-in-out;
}

.backMain {
    z-index: 1;

    background-color: blue;

    display: flex;
    justify-content: end;

    height: var(--main);
    width: 103vw;

    margin-right: 0;
    padding-top: 0;

    border: solid black;
    border-radius: var(--borRad);
}

.backBtn {
    z-index: 2;

    background-color: blue;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;

}

#backToggle {
    display: none;
}

.backSlide:has(#backToggle:checked) {
    transform: translateX(calc(var(--posBack) + var(--midBack)));
    
}

#midToggle {
    display: none;
}

.midSlide { 
    z-index: 2;

    display: flex;
    justify-content: flex-end;

    position: fixed;
   
    transform: translateX(67vw);
    transition: transform 0.2s ease-in-out;
}

.midMain {
    z-index: 1;

    background-color: green;

    display: flex;
    justify-content: end;

    height: calc(var(--main) - 2vh);
    width: 60vw;

    margin: var(--margen);
    margin-right: 0;
    margin-left: 0;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;



}

.midBtn {
    z-index: 2;

    background-color: green;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;


}

.midSlide:has(#midToggle:checked){
    transform: translateX(47vw);

}
body:has(#midToggle:checked) .backSlide{
    --midBack: 0vw ;
}

body:has(#midToggle:checked) {
    --posBack: 24vw;
}
body:has(#midToggle:not(checked)) {
    --posBack: 0vw;
}

.div3 {
    z-index: 3;

    background-color: red;

    display: flex;
    align-content: end;

    height: calc(var(--main) - 4vh);
    width: 30vw;

    margin: calc(var(--margen) + 1vh);
    margin-right: 0;
    margin-left: 1vw;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

    position: fixed;
    right: -3vh;

    overflow: hidden;
}

footer {
    background-color: darkblue;

    height: 4vh;

    margin-top: 92vh;

}