:root{
    --main: 91.5vh;
    --borRadBut: 4px;
    --borRad: 10px;
    --margen: 0.8vh;
    --posBack: -60vw;
    --posActual: -60vw;
}
header{
    height: 4vh;
    background-color: yellowgreen;
}
body{
    margin:0;
}

    /* BACK */

.backSlide{
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position:fixed;

    animation:desplazamiento2;
    animation-duration: 0.2s;
    animation-timing-function:ease-in-out;
    
    right: var(--posActual);
    
}
.backMain{
    z-index: 1;

    background-color: blue;

    display: flex;
    justify-content: end;

    height: var(--main);
    width: 93vw;

    margin-right: 0;
    padding-top: 0;

    border: solid black;
    border-radius: var(--borRad);
}
.backBtn{
    z-index: 2;

    background-color: blue;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;

}
#backToggle{
    display: none;
}
.backSlide:has(#backToggle:checked) {
    
    animation:backIda;
    animation-duration: 0.2s;
    animation-timing-function:ease-in-out;

    right: calc(var(--posActual) + 30vw); 
   
   
}
.backSlide:has(#backToggle:not(:checked)) {
    
    animation:backVuelta;
    animation-duration: 0.2s;
    animation-timing-function:ease-in-out;

    /* right: calc(var(--posActual));  */
}
    /* ANIMACIONES */

    /* IDA */

 @keyframes backIda {
  0% {right: var(--posActual);}
  100% {right: calc(var(--posActual) + 30vw);}
 }

    /* VUELTA */

 @keyframes backVuelta {
  0% {right: calc(var(--posActual) + 30vw);}
  100% {right: var(--posActual);}
 }

    /* MID */

 .midSlide{
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position:fixed;
    right: -30vw;

    
}
.midMain{
    z-index: 1;

    background-color: green;

    display: flex;
    justify-content: end;

    height: calc(var(--main) - 2vh);
    width: 60vw;

    margin: var(--margen);
    margin-right: 0;
    margin-left: 0;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

   
    
}
.midBtn{
    z-index: 2;

    background-color: green;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;

 
}
.div3{
    z-index: 3;

    background-color: red;

    display: flex;
    align-content: end;

    height: calc(var(--main) - 4vh);
    width: 30vw;

    margin: calc(var(--margen) + 1vh);
    margin-right: 0;
    margin-left: 1vw;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

    position: fixed;
    right: -3vh;

    overflow: hidden;
}
footer{
    background-color: darkblue;

    height: 4vh;

    margin-top: 92vh;

}

