:root{
    --main: 91.5vh;
    --borRadBut: 4px;
    --borRad: 10px;
    --margen: 0.8vh;

    overflow: none;
}
header{
    height: 4vh;
    background-color: yellowgreen;
}
body{
    margin:0;
}
.contenedor1{
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position:fixed;
    right:  -60vw;
    
    overflow-x: none;
}

.contenedor2{
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    position:fixed;
    right: -30vw;

    overflow:hidden;
}
.div1{
    z-index: 1;

    background-color: blue;

    display: flex;
    justify-content: end;

    height: var(--main);
    width: 93vw;

    margin-right: 0;
    padding-top: 0;

    border: solid black;
    border-radius: var(--borRad);

    overflow: hidden;

   
}
.button1{
    z-index: 2;

    background-color: blue;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;
}
.button1:checked{
    z-index: 2;

    background-color: rgb(0, 255, 234);

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;

    animation: desplegable 0.3s;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
    
}
@keyframes desplegable{
    0% {}
    100% {transform: translate(-30vh)}
}

.div2{
    z-index: 1;

    background-color: green;

    display: flex;
    justify-content: end;

    height: calc(var(--main) - 2vh);
    width: 60vw;

    margin: var(--margen);
    margin-right: 0;
    margin-left: 0;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

   
    
}
.button2{
    z-index: 2;

    background-color: green;

    height: 10vh;
    width: 2vw;

    margin-top: 40vh;
    margin-right: -0.3vw;

    border: solid black;
    border-radius: var(--borRadBut);
    border-right: 0;

 
}
.div3{
    z-index: 3;

    background-color: red;

    display: flex;
    align-content: end;

    height: calc(var(--main) - 4vh);
    width: 30vw;

    margin: calc(var(--margen) + 1vh);
    margin-right: 0;
    margin-left: 1vw;

    border: solid black;
    border-radius: var(--borRad);
    border-right: 0;

    position: fixed;
    right: -3vh;

    overflow: hidden;
}
footer{
    background-color: darkblue;

    height: 4vh;

    margin-top: 92vh;

}

