main{
    z-index: 4;
    width:65.1vw;
    height: 92vh;
    display: grid;

    grid-template-columns: 3fr 50fr 50fr;
    grid-template-rows: 6fr 3fr;

    overflow: hidden;

}

main section{
    background-color: rgb(65, 65, 65);
    border: var(--tableBorderColor) solid 3px;

    border-right: 0;

    grid-column: 1/2;
    grid-row: 2/3;

    display: flex;

    flex-direction: column;

   
}
main section img{
    height: 4em;
    border-bottom: var(--tableBorderColor) solid 3px;
    
}
.imagen{
    grid-column: 1/4;
    grid-row: 1/2;

    display: flex;
    justify-content: center;
}
.imagen img{
    height: 29vw;

    display: flex;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0 0 75px 50px rgba(59, 172, 216, 0.5); 

    border-top: 0;
    border-bottom: 0;
}
.matchL{
    background-color: rgb(37, 37, 37);

    border-right: 0;

    grid-column: 2/3;
    grid-row: 2/3;

   
}
#tituloLiga{
    grid-column: 1/3;

    border-bottom: var(--tableBorderColor) solid 3px;
}

.matchR{
    background-color: rgb(54, 54, 54);  
    border: var(--tableBorderColor) solid 3px;
    
    grid-column: 3/4;
    grid-row: 2/3;

    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;

    
}

.matchR div{
    border: var(--tableBorderColor) solid 1px;
}

#tituloLiga{
    grid-column: 1/3;

    display: flex;
    align-items: center;

    font-size:x-large;
    padding: 0.5vw;

}
main section :nth-child(5) {
    border-bottom: 0;
}
