.match{
    display: grid;

    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.match section{
    border: var(--tableBorderColor) solid 1px;
}
.team1{
    grid-column: 1/2;
    grid-row: 1/2;

    object-fit: contain;
    height: 100%;
    width: 100%;
}
.team2{
    grid-column: 3/4;
    grid-row: 4/5;

    height: 100%;
    width: 100%;
}