.match{
    display: grid;

    background-color:  rgb(65, 65, 65);

    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.match section{
    border:0;
}
.team1{
    grid-column: 1/2;
    grid-row: 1/3;

    height: 100%;
    display: flex;
    align-items: center;
}
.match :nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.match :nth-child(3){
    grid-column: 3/5;
    grid-row: 1/3;
}
.match :nth-child(4){
    grid-column: 1/2;
    grid-row: 3/5;
}
.match :nth-child(5){
    grid-column: 2/3;
    grid-row: 2/4;

    font-size: xx-large;
}
.match :nth-child(6){
    grid-column: 2/3;
    grid-row: 4/5;

    font-size: large;
    color: rgb(156, 156, 156);
}
.centrado{
    display: flex;
    
    align-items: center;
    justify-content: center;

    font-size: x-large;
}
.team2{
    grid-column: 3/4;
    grid-row: 3/5;

    height: 100%;
    display: flex;
    align-items: center;
}
.team2 img{
    border-bottom: 0;
    border-top: var(--tableBorderColor) solid 3px;
}
