.matchL{
    display: grid;

    grid-row: 1fr 3fr 1fr 1fr;
    grid-column: 2fr 1fr 2fr;

    border: var(--tableBorderColor)solid 4px;;
}
#matchOfTheWeek{
    background-color: rgb(54, 54, 54); 
}
.matchL section{
    border: 0;
    font-size: xx-large;
}
.matchL section img{
    height: 10vh;
    display: flex;
    align-items: center;

}

.matchL :nth-child(1){
    border-bottom: var(--tableBorderColor)solid 5px;

    grid-row: 1/2;
    grid-column: 1/4;
}
.matchL :nth-child(2){
    grid-row: 2/4;
    grid-column: 1/2;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.matchL :nth-child(3){
    grid-row: 2/4;
    grid-column: 2/3;
}
.matchL :nth-child(4){
    grid-row: 2/4;
    grid-column: 3/4;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.matchL :nth-child(5){
    grid-row: 4/6;
    grid-column: 1/2;
}
.matchL :nth-child(6){
    grid-row: 4/5;
    grid-column: 2/3;
}
.matchL :nth-child(7){
    grid-row: 4/6;
    grid-column: 3/4;
}
.matchL :nth-child(8){
    grid-row: 5/6;
    grid-column: 2/3;

    font-size: large;
    color: rgb(156, 156, 156);
}

